body {
  background-color: aqua;
}
a {
  text-decoration: none;
  color: white;
}

div {
  width: 90%;
  text-align: center;
  margin: auto;
}

button {
  margin: 10px;
  background-color: rgb(131, 118, 118);
  padding: 10px;
  font-size: 20px;
}

#instalBtn {
  background-color: green;
  color: white;
}

.hidden {
  display: none;
}
