<div class="toast show align-items-center border-0 mb-2 shadow-sm" [class.text-bg-success]="type === 'success'"
    [class.text-bg-danger]="type === 'danger'" [class.text-bg-info]="type === 'info'" role="alert" aria-live="assertive"
    aria-atomic="true">

    <div class="d-flex">
        <div class="toast-body d-flex align-items-center">

            @switch (type) {
            @case ('success') {
            <i class="bi bi-check-circle-fill me-2"></i>
            }
            @case ('danger') {
            <i class="bi bi-exclamation-triangle-fill me-2"></i>
            }
            @default {
            <i class="bi bi-info-circle-fill me-2"></i>
            }
            }

            {{ message }}
        </div>

        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
            aria-label="Close"></button>
    </div>
</div>